@font-face {
  font-family: "Anton";
  src: local("Anton"), url(../fonts/Anton.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"), url(../fonts/RobotoMono.ttf) format("truetype");
}

@font-face {
  font-family: "HussarBoldWeb";
  src: local("HussarBoldWeb"), url(../fonts/HussarBoldWeb.woff) format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary;
  }

  h1 {
    @apply font-title text-5xl;
  }

  h2 {
    @apply font-secondary text-2xl;
  }

  h3 {
    @apply font-secondary text-lg;
  }

  h1,
  h2,
  h3,
  p,
  b,
  small {
    @apply text-white;
  }

  summary {
    @apply font-secondary text-lg text-white cursor-pointer;
  }

  details[open] summary {
    @apply text-accent;
  }
}

@layer components {
  .btn-primary {
    @apply text-xl text-white bg-secondary border-white border-2 border-solid cursor-pointer;

    &:hover:not([disabled]) {
      @apply hover-text-accent hover-border-accent hover:bg-primary;
    }

    &:disabled {
      @apply outline-none;
    }
  }
}

@layer utilities {
  .hover-text-accent {
    @apply lg:hover:text-accent hover-duration;
  }

  .hover-border-accent {
    @apply lg:hover:border-accent hover-duration;
  }

  .group-hover-text-accent {
    @apply lg:group-hover:text-accent hover-duration;
  }

  .hover-duration {
    @apply transition-all ease-linear duration-300;
  }
}
